@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.cookiefont {
    font-family: 'Cookie', cursive;
}
a {
    text-decoration: none;
    color: palevioletred;
    
}
#bkgrnd {
    background-image: url("photos/bkgrnd.jpg");
    background-repeat: repeat;
}
h1 {
    font-size: 3em;
}

.hero {
    background-image: url("photos/hero2.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    border: 10px solid palevioletred;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: xx-large;
    font-style: italic;
    }

.hero-text h1 {
    font-size: 4em;
}

.homep {
    font-size: 2em;
}

.opacity-50 {
    font-size: 1.25em;
}

.bkclear {
    background-color: rgba(255, 255, 255, 0.6);
}


